__pycache__/
.build/
.cache/
.coverage
.eggs/
.eggs/
.idea
.idea/
.pytest_cache/
.python-version
.tox/
.venv/
.vscode/
.vscode/
.workon
*.egg
*.egg-info/
*.iml
*.pyc
*.swp
/.mypy_cache/
build/
cover/
coverage.xml
dist
docs/_build
env/
junit-report.xml
MANIFEST
nosetests.xml
Package.resolved
pylint.txt
t.py
t2.py
toy.py
